@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {

    @apply bg-background text-foreground;
  }
}
@layer base {
  * {
    @apply scroll-smooth;
  }

  *::-webkit-scrollbar {
    @apply w-1;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-red-500;
  }


}

@layer utilities {
  .expanding-line {
      @apply bg-left-bottom bg-gradient-to-r from-secondary to-primary bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_3px] transition-all duration-500 ease-out hover:delay-200;
    }
  
  .layout {
    @apply w-[90%] md:w-[80%] lg:w-[70%] min-[1900px]:w-[60%] m-auto;
  }

}



.title-font {
  font-family: 'Pacifico', cursive;
  color: white;
  transition: .2s ease-in-out;
}


.homepage-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("/public/image/lakesideBoat.jpg");  
  background-attachment: fixed;
  top: 10;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
 }

 
.icon{
  font-size: 1.5rem;
  background-color: black;
}

.home-icon{  
  transition: .3s ease-in-out ;
  border-bottom: 3px solid white;
  margin: auto;
}

.home-icon:hover{
  border-bottom: 3px solid #3586ff;
}

.active{
  border-bottom: 3px solid #3586ff;
}


.btn{
  
  transition: ease-in-out .3s;
  position: relative;

  
  z-index: 0;
  overflow: hidden;
}

.btn::before{
  content: "";
  position: absolute;
  background-color: rgb(254, 42, 42);

  width: 100%;
  top: 0;
  left: 0;
  height: 0%;
  transition: ease-in-out .5s;
  z-index: -1;
}

.btn:hover::before{
  height: 100%;
  transition: ease-in-out .2s;
}


.card:hover .title{
  display: none;
  
}


.card:hover .details{
   bottom: 0px;
   
}


.animate-spin1{
  animation: spin 3s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}
 

@keyframes spin {
  0%, 100% {
    transform: rotate(0deg);
    color: rgb(192, 132, 252);
  }
  50% {
    transform: rotate(10deg);
    color:  rgb(165, 180, 252);
  }
}
  

.scaler{
   
  animation: scaler 3s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes scaler {
  0%, 100% {
    transform: rotate(-5deg);
    
  }
  50% {
    transform: rotate(5deg);
    
  }
}


.custom-gradient {
  background-image: linear-gradient(to right, rgb(165, 180, 252), rgb(192, 132, 252))
}

.title{
    font-size: 4rem;
     line-height: 4.2rem;
}

.secondary-title{
    font-size: 2rem;
     line-height: 2rem;
  
}

.paragraph{
    font-size: 1rem;  
    line-height: 1.75rem;
    
}

.small{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1;
 
 }
 @media (max-width: 640px) {
  .title{
      font-size: 2rem; 
      line-height: 2.2rem;  
  }
  .secondary-title{
      font-size: 1.4rem;    
  }    
  .paragraph{
      font-size: .9rem;   
  }
}
 @media (max-width: 1140px) {
  .title{
      font-size: 2.5rem;
      line-height: 2.8rem;   
  }
  
}

 @media (max-width: 400px) {
  .title{
      font-size:  1.8rem;
      line-height: 2rem;
  }
  .secondary-title{
    font-size: 1.1rem;    
}    
.paragraph{
    font-size: .76rem; 
    line-height: 1.4rem;  
}
.small{
   
  font-size: 0.55rem;
  line-height: 1rem;

}
  
}

.animate_container:hover .animate_rotate{
    transform: translateX(10px);
    transition: ease-in-out 0.9s;
}

.animate_rotate{
    transition: ease-in-out .5s;
}






 
.kenburns-top-right {
	-webkit-animation: kenburns-top 10s ease-out infinite alternate-reverse both;
	        animation: kenburns-top 10s ease-out infinite alternate-reverse both;
}

 @-webkit-keyframes kenburns-top-right {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        100% {
          -webkit-transform: scale(1.25) translateY(-15px);
                  transform: scale(1.25) translateY(-15px);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      @keyframes kenburns-top {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        100% {
          -webkit-transform: scale(1.25) translateY(-15px);
                  transform: scale(1.25) translateY(-15px);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      
 

/* Home page slider css */
 

.swiper {
  width: 100%;
  height: 100%;
}

 /*  */

 /* footer css */

 

.footer-section {
  display: flex;
  background: #fff;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 50vh;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
 
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/*  */



/* About Us Page Css */
.container-grid {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr  ;
  grid-template-rows: 1.2fr 1.7fr 1.6fr 1.2fr ;
  gap: 2em;
  grid-auto-flow: row;
  grid-template-areas:

    ". . img-2 .   "
    ". img-1 img-2 img-4  "
    "img-5 img-1 img-3 img-4   "
    "img-5 . img-3 .   "
    ". . . .   "
   ;
}

.img-1 { 
  grid-area: img-1; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),url("/lakesideBoat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-2 { 
  grid-area: img-2; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),url("/lakesideBoat.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}

.img-3 { 
  grid-area: img-3;  
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0,0)),url("/lakesideBoat.jpg");
  background-repeat: no-repeat;
  background-size: cover;  }

.img-5 { grid-area: img-5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)),url("/lakesideBoat.jpg");
  background-repeat: no-repeat;
  background-size: cover;   }

.img-4 { grid-area: img-4; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),url("/lakesideBoat.jpg");
  background-repeat: no-repeat;
  background-size: cover;   
  background-position: center;
  }

  /*  */